@model ENB.InsuranceAndClaims.MVC.Models.DisplayClaimHeader

<div>   
    <dl class="row">
        <dt class="col-sm-2 card-header">
            @Html.DisplayNameFor(model => model.Namecustomer)
        </dt>
        <dd class="col-sm-10 card-header">
            @Html.DisplayFor(model => model.Namecustomer)
        </dd>
        <dt class="col-sm-2 card-header" style="margin-top:5px">
            @Html.DisplayNameFor(model => model.Ref_Claim_Status)
        </dt>
        <dd class="col-sm-10 card-header" style="margin-top:5px">
            @Html.DisplayFor(model => model.Ref_Claim_Status)
        </dd>
        <dt class="col-sm-2 card-header" style="margin-top:5px">
            @Html.DisplayNameFor(model => model.Ref_Claim_Type)
        </dt>
        <dd class="col-sm-10 card-header" style="margin-top:5px">
            @Html.DisplayFor(model => model.DateOfClaim)
        </dd>
        <dt class="col-sm-2 card-header" style="margin-top:5px">
            @Html.DisplayNameFor(model => model.DateOfClaim)
        </dt>
        <dd class="col-sm-10 card-header" style="margin-top:5px">
            @Html.DisplayFor(model => model.Date_of_Settlement)
        </dd>
        <dt class="col-sm-2 card-header" style="margin-top:5px">
            @Html.DisplayNameFor(model => model.Date_of_Settlement)
        </dt>
        <dd class="col-sm-10 card-header" style="margin-top:5px">
            @Html.DisplayFor(model => model.Ref_Claim_Type)
        </dd>
        <dt class="col-sm-2 card-header" style="margin-top:5px">
            @Html.DisplayNameFor(model => model.Policycode)
        </dt>
        <dd class="col-sm-10 card-header" style="margin-top:5px">
            @Html.DisplayFor(model => model.Policycode)
        </dd>
        <dt class="col-sm-2 card-header" style="margin-top:5px">
            @Html.DisplayNameFor(model => model.Amount_Claimed)
        </dt>
        <dd class="col-sm-10 card-header" style="margin-top:5px">
            @Html.DisplayFor(model => model.Amount_Claimed)
        </dd>
        <dt class="col-sm-2 card-header" style="margin-top:5px">
            @Html.DisplayNameFor(model => model.Amount_Paid)
        </dt>
        <dd class="col-sm-10 card-header" style="margin-top:5px">
            @Html.DisplayFor(model => model.Amount_Paid)
        </dd>
        <dt class="col-sm-2 card-header" style="margin-top:5px">
            @Html.DisplayNameFor(model => model.Other_Details)
        </dt>
        <dd class="col-sm-10 card-header" style="margin-top:5px">
            @Html.DisplayFor(model => model.Other_Details)
        </dd>
        <dt class="col-sm-2 card-header" style="margin-top:5px">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class="col-sm-10 card-header" style="margin-top:5px">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class="col-sm-2 card-header" style="margin-top:5px">
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>
        <dd class="col-sm-10 card-header" style="margin-top:5px">
            @Html.DisplayFor(model => model.DateModified)
        </dd>
    </dl>
</div>
