@model ENB.InsuranceAndClaims.MVC.Models.DisplayClaimProcessing

<div>    
    <dl class="row">   
        <dt class="col-sm-2 card-header">
            @Html.DisplayNameFor(model => model.Policycode)
        </dt>
        <dd class="col-sm-10 card-header">
            @Html.DisplayFor(model => model.Policycode)
        </dd>
        <dt class="col-sm-2 card-header">
            @Html.DisplayNameFor(model => model.Stage_Outcome)
        </dt>
        <dd class="col-sm-10 card-header">
            @Html.DisplayFor(model => model.Stage_Outcome)
        </dd>
        <dt class="col-sm-2 card-header" style="margin-top:5px" >
            @Html.DisplayNameFor(model => model.Namecustomer)
        </dt>
        <dd class="col-sm-10 card-header" style="margin-top:5px" >
            @Html.DisplayFor(model => model.Namecustomer)
        </dd>
        <dt class="col-sm-2 card-header" style="margin-top:5px">
            @Html.DisplayNameFor(model => model.Other_Details)
        </dt>
        <dd class="col-sm-10 card-header" style="margin-top:5px">
            @Html.DisplayFor(model => model.Other_Details)
        </dd>
        <dt class="col-sm-2 card-header" style="margin-top:5px">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class="col-sm-10 card-header" style="margin-top:5px">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class="col-sm-2 card-header" style="margin-top:5px">
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>
        <dd class="col-sm-10 card-header" style="margin-top:5px">
            @Html.DisplayFor(model => model.DateModified)
        </dd>        
        
    </dl>
</div>

