@model ENB.InsuranceAndClaims.MVC.Models.CreateAndEditClaimProcessing
@using ENB.InsuranceAndClaims.Entities
@{
    ViewData["Title"] = "Edit";
}

<div class="alert alert-primary" role="alert">
    <h2><strong>Edit ClaimsDocuments</strong></h2>
</div>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" asp-route-id="@ViewBag.Id" asp-route-CustomerId="@ViewBag.Idcust"
              asp-route-ClaimHeaderId="@ViewBag.Idclh" asp-route-PolicyId="@ViewBag.Idpol">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="card-header" style="margin:10px 0px 10px 0px;">
                            <label asp-for="StaffId" class="control-label"></label>
                        </div>
                        <select id="drpEmpList" class="form-control" asp-for="StaffId" asp-items="@(new SelectList(Model.ListStaff, "Value", "Text"))">
                            <option value="0">--Select--</option>
                        </select>
                        <span asp-validation-for="StaffId" class="text-danger"></span>
                    </div>
                </div><div class="col-md-6">
                    <div class="form-group">
                        <div class="card-header" style="margin:10px 0px 10px 0px;">
                            <label asp-for="ClaimProcessingStageId" class="control-label"></label>
                        </div>
                        <select id="drpEmpList1" class="form-control" asp-for="ClaimProcessingStageId" asp-items="@(new SelectList(Model.ListStage, "Value", "Text"))">
                            <option value="0">--Select--</option>
                        </select>
                        <span asp-validation-for="ClaimProcessingStageId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="card-header" style="margin:10px 0px 10px 0px;">
                            <label asp-for="Stage_Outcome" class="control-label"></label>
                        </div>
                        <select asp-for="Stage_Outcome" class="form-control" asp-items="Html.GetEnumSelectList<Ref_Stage_Outcome>()"></select>
                        <span asp-validation-for="Stage_Outcome" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="card-header" style="margin:10px 0px 10px 0px;">
                            <label asp-for="Other_Details" class="control-label"></label>
                        </div>
                        <textarea asp-for="Other_Details" type="text" class="form-control" rows="5" autofocus></textarea>
                        <span asp-validation-for="Other_Details" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <a asp-action="List" asp-route-CustomerId="@ViewBag.Idcust"
                           asp-route-ClaimHeaderId="@ViewBag.Idclh" asp-route-PolicyId="@ViewBag.Idpol" class="btn btn-secondary btn-block col-md-4">Back to List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
